.librarain-container {
    max-width: 960px;
    border: 6px solid #00c4ff;
    box-shadow: 2px 8px 6px 3px #000;
    height: 500px;
    margin: 0px auto;
}
h2 {
    color: red;
    padding: 45px;
}
form {
    display: inline-grid;
    width: 50%;
}
label {
    text-align: left;
    margin: 10px 0px;
}
input {
    padding: 10px;
}
b {
    padding: 20px 0px;
}
button {
    width: 30%;
    margin-top: 21px;
    background: #9dff0091;
    border: 2px solid #9dff0091;
    padding: 10px;
    text-align: revert;
}